src/main/resources/wsdl/Y13IOD93Y_ManageConsultantIn.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://0023931702-one-off.sap.com/Y13IOD93Y_"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:rfc="urn:sap-com:sap:rfc:functions" xmlns:tns="http://0023931702-one-off.sap.com/Y13IOD93Y_"
                  xmlns:n1="http://sap.com/xi/SAPGlobal20/Global" xmlns:n2="http://sap.com/xi/AP/Common/Global"
                  xmlns:n3="http://sap.com/xi/BASIS/Global" xmlns:n4="http://sap.com/xi/AP/Common/GDT"
                  xmlns:n5="http://sap.com/xi/AP/PDI/ABSL" xmlns:n6="http://sap.com/xi/Common/DataTypes">
    <wsdl:documentation>
        <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal20/Global"
                    xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
                    xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi1="http://sap.com/xi/AP/Common/Global"
                    xmlns:xi2="http://0023931702-one-off.sap.com/Y13IOD93Y_" xmlns:xi3="http://sap.com/xi/BASIS/Global"
                    xmlns:xi4="http://sap.com/xi/AP/Common/GDT" xmlns:xi6="http://sap.com/xi/AP/PDI/ABSL"
                    xmlns:xi8="http://sap.com/xi/Common/DataTypes" xmlns="http://sap.com/xi/SAPGlobal20/Global">
            <xsd:import namespace="http://0023931702-one-off.sap.com/Y13IOD93Y_"/>
            <xsd:element name="ConsultantCreateConfirmation_sync" type="xi2:ConsultantCreateConfirmationMessage_sync"/>
            <xsd:element name="ConsultantCreateRequest_sync" type="xi2:ConsultantCreateRequestMessage_sync"/>
            <xsd:element name="ConsultantQueryByElementsSimpleByConfirmation_sync"
                         type="xi2:ConsultantQueryByElementsSimpleByConfirmationMessage_sync"/>
            <xsd:element name="ConsultantQueryByElementsSimpleByRequest_sync"
                         type="xi2:ConsultantQueryByElementsSimpleByRequestMessage_sync"/>
            <xsd:element name="ConsultantReadByIDQuery_sync" type="xi2:ConsultantReadByIDQueryMessage_sync"/>
            <xsd:element name="ConsultantReadByIDResponse_sync" type="xi2:ConsultantReadByIDResponseMessage_sync"/>
            <xsd:element name="ConsultantUpdateConfirmation_sync" type="xi2:ConsultantUpdateConfirmationMessage_sync"/>
            <xsd:element name="ConsultantUpdateRequest_sync" type="xi2:ConsultantUpdateRequestMessage_sync"/>
        </xsd:schema>
        <xsd:schema targetNamespace="http://sap.com/xi/AP/Common/Global"
                    xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
                    xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi1="http://sap.com/xi/AP/Common/Global"
                    xmlns:xi2="http://0023931702-one-off.sap.com/Y13IOD93Y_" xmlns:xi3="http://sap.com/xi/BASIS/Global"
                    xmlns:xi4="http://sap.com/xi/AP/Common/GDT" xmlns:xi6="http://sap.com/xi/AP/PDI/ABSL"
                    xmlns:xi8="http://sap.com/xi/Common/DataTypes" xmlns="http://sap.com/xi/AP/Common/Global">
            <xsd:import namespace="http://sap.com/xi/AP/Common/GDT"/>
            <xsd:complexType name="ExchangeFaultData">
                <xsd:sequence>
                    <xsd:element name="faultText" type="xsd:string"/>
                    <xsd:element name="faultUrl" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="faultDetail" type="ExchangeLogData" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ExchangeLogData">
                <xsd:sequence>
                    <xsd:element name="severity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="text" type="xsd:string"/>
                    <xsd:element name="url" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="id" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="StandardFaultMessageExtension">
                <xsd:sequence>
                    <xsd:element name="Log" type="xi4:Log" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="StandardFaultMessage">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="standard" type="ExchangeFaultData"/>
                        <xsd:element name="addition" type="StandardFaultMessageExtension"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema targetNamespace="http://0023931702-one-off.sap.com/Y13IOD93Y_"
                    xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
                    xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi1="http://sap.com/xi/AP/Common/Global"
                    xmlns:xi2="http://0023931702-one-off.sap.com/Y13IOD93Y_" xmlns:xi3="http://sap.com/xi/BASIS/Global"
                    xmlns:xi4="http://sap.com/xi/AP/Common/GDT" xmlns:xi6="http://sap.com/xi/AP/PDI/ABSL"
                    xmlns:xi8="http://sap.com/xi/Common/DataTypes" xmlns="http://0023931702-one-off.sap.com/Y13IOD93Y_">
            <xsd:import namespace="http://sap.com/xi/AP/Common/GDT"/>
            <xsd:import namespace="http://sap.com/xi/AP/PDI/ABSL"/>
            <xsd:import namespace="http://sap.com/xi/Common/DataTypes"/>
            <xsd:complexType name="ConsultantCreateConfirmation">
                <xsd:sequence>
                    <xsd:element name="SAP_UUID" type="xi8:UUID" minOccurs="0"/>
                    <xsd:element name="id" type="xi6:ID" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConsultantCreateConfirmationMessage_sync">
                <xsd:sequence>
                    <xsd:element name="Consultant" type="ConsultantCreateConfirmation" minOccurs="0"/>
                    <xsd:element name="Log" type="xi4:Log"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConsultantCreateRequest">
                <xsd:sequence>
                    <xsd:element name="id" type="xi6:ID" minOccurs="0"/>
                    <xsd:element name="Name" type="xi4:MEDIUM_Description" minOccurs="0"/>
                    <xsd:element name="LastName" type="xi4:MEDIUM_Description" minOccurs="0"/>
                    <xsd:element name="Location" type="xi4:CountryCode" minOccurs="0"/>
                    <xsd:element name="Status" type="StatusCode" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConsultantCreateRequestMessage_sync">
                <xsd:sequence>
                    <xsd:element name="BasicMessageHeader" type="xi4:BusinessDocumentBasicMessageHeader"/>
                    <xsd:element name="Consultant" type="ConsultantCreateRequest"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConsultantQueryByElementsSimpleByConfirmation">
                <xsd:sequence>
                    <xsd:element name="SAP_UUID" type="xi8:UUID" minOccurs="0"/>
                    <xsd:element name="id" type="xi6:ID" minOccurs="0"/>
                    <xsd:element name="Name" type="xi4:MEDIUM_Description" minOccurs="0"/>
                    <xsd:element name="LastName" type="xi4:MEDIUM_Description" minOccurs="0"/>
                    <xsd:element name="Location" type="xi4:CountryCode" minOccurs="0"/>
                    <xsd:element name="LocationName" type="xi4:LANGUAGEINDEPENDENT_LONG_Name" minOccurs="0"/>
                    <xsd:element name="Status" type="StatusCode" minOccurs="0"/>
                    <xsd:element name="StatusName" type="xi4:LANGUAGEINDEPENDENT_LONG_Name" minOccurs="0"/>
                    <xsd:element name="CreationOn" type="xi4:Date" minOccurs="0"/>
                    <xsd:element name="CreatedBy" type="xi4:LANGUAGEINDEPENDENT_LONG_Name" minOccurs="0"/>
                    <xsd:element name="ChangedOn" type="xi4:Date" minOccurs="0"/>
                    <xsd:element name="ChangedBy" type="xi4:LANGUAGEINDEPENDENT_LONG_Name" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConsultantQueryByElementsSimpleByConfirmationMessage_sync">
                <xsd:sequence>
                    <xsd:element name="Consultant" type="ConsultantQueryByElementsSimpleByConfirmation" minOccurs="0"
                                 maxOccurs="unbounded"/>
                    <xsd:element name="ProcessingConditions" type="xi4:ResponseProcessingConditions"/>
                    <xsd:element name="Log" type="xi4:Log"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConsultantQueryByElementsSimpleByRequest">
                <xsd:sequence>
                    <xsd:element name="SelectionByid" type="ConsultantQueryByElementsSimpleByRequestSelectionByid"
                                 minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="SelectionByName" type="ConsultantQueryByElementsSimpleByRequestSelectionByName"
                                 minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="SelectionByLastName"
                                 type="ConsultantQueryByElementsSimpleByRequestSelectionByLastName" minOccurs="0"
                                 maxOccurs="unbounded"/>
                    <xsd:element name="SelectionByLocation"
                                 type="ConsultantQueryByElementsSimpleByRequestSelectionByLocation" minOccurs="0"
                                 maxOccurs="unbounded"/>
                    <xsd:element name="SelectionByStatus"
                                 type="ConsultantQueryByElementsSimpleByRequestSelectionByStatus" minOccurs="0"
                                 maxOccurs="unbounded"/>
                    <xsd:element name="SelectionByCreationOn"
                                 type="ConsultantQueryByElementsSimpleByRequestSelectionByCreationOn" minOccurs="0"
                                 maxOccurs="unbounded"/>
                    <xsd:element name="SelectionByCreatedBy"
                                 type="ConsultantQueryByElementsSimpleByRequestSelectionByCreatedBy" minOccurs="0"
                                 maxOccurs="unbounded"/>
                    <xsd:element name="SelectionByChangedOn"
                                 type="ConsultantQueryByElementsSimpleByRequestSelectionByChangedOn" minOccurs="0"
                                 maxOccurs="unbounded"/>
                    <xsd:element name="SelectionByChangedBy"
                                 type="ConsultantQueryByElementsSimpleByRequestSelectionByChangedBy" minOccurs="0"
                                 maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConsultantQueryByElementsSimpleByRequestMessage_sync">
                <xsd:sequence>
                    <xsd:element name="ConsultantSimpleSelectionBy" type="ConsultantQueryByElementsSimpleByRequest"/>
                    <xsd:element name="ProcessingConditions" type="xi4:QueryProcessingConditions"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConsultantQueryByElementsSimpleByRequestSelectionByChangedBy">
                <xsd:sequence>
                    <xsd:element name="InclusionExclusionCode" type="xi4:InclusionExclusionCode" minOccurs="0"/>
                    <xsd:element name="IntervalBoundaryTypeCode" type="xi4:IntervalBoundaryTypeCode"/>
                    <xsd:element name="LowerBoundaryChangedBy" type="xi4:LANGUAGEINDEPENDENT_LONG_Name" minOccurs="0"/>
                    <xsd:element name="UpperBoundaryChangedBy" type="xi4:LANGUAGEINDEPENDENT_LONG_Name" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConsultantQueryByElementsSimpleByRequestSelectionByChangedOn">
                <xsd:sequence>
                    <xsd:element name="InclusionExclusionCode" type="xi4:InclusionExclusionCode" minOccurs="0"/>
                    <xsd:element name="IntervalBoundaryTypeCode" type="xi4:IntervalBoundaryTypeCode"/>
                    <xsd:element name="LowerBoundaryChangedOn" type="xi4:Date" minOccurs="0"/>
                    <xsd:element name="UpperBoundaryChangedOn" type="xi4:Date" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConsultantQueryByElementsSimpleByRequestSelectionByCreatedBy">
                <xsd:sequence>
                    <xsd:element name="InclusionExclusionCode" type="xi4:InclusionExclusionCode" minOccurs="0"/>
                    <xsd:element name="IntervalBoundaryTypeCode" type="xi4:IntervalBoundaryTypeCode"/>
                    <xsd:element name="LowerBoundaryCreatedBy" type="xi4:LANGUAGEINDEPENDENT_LONG_Name" minOccurs="0"/>
                    <xsd:element name="UpperBoundaryCreatedBy" type="xi4:LANGUAGEINDEPENDENT_LONG_Name" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConsultantQueryByElementsSimpleByRequestSelectionByCreationOn">
                <xsd:sequence>
                    <xsd:element name="InclusionExclusionCode" type="xi4:InclusionExclusionCode" minOccurs="0"/>
                    <xsd:element name="IntervalBoundaryTypeCode" type="xi4:IntervalBoundaryTypeCode"/>
                    <xsd:element name="LowerBoundaryCreationOn" type="xi4:Date" minOccurs="0"/>
                    <xsd:element name="UpperBoundaryCreationOn" type="xi4:Date" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConsultantQueryByElementsSimpleByRequestSelectionByLastName">
                <xsd:sequence>
                    <xsd:element name="InclusionExclusionCode" type="xi4:InclusionExclusionCode" minOccurs="0"/>
                    <xsd:element name="IntervalBoundaryTypeCode" type="xi4:IntervalBoundaryTypeCode"/>
                    <xsd:element name="LowerBoundaryLastName" type="xi4:MEDIUM_Description" minOccurs="0"/>
                    <xsd:element name="UpperBoundaryLastName" type="xi4:MEDIUM_Description" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConsultantQueryByElementsSimpleByRequestSelectionByLocation">
                <xsd:sequence>
                    <xsd:element name="InclusionExclusionCode" type="xi4:InclusionExclusionCode" minOccurs="0"/>
                    <xsd:element name="IntervalBoundaryTypeCode" type="xi4:IntervalBoundaryTypeCode"/>
                    <xsd:element name="LowerBoundaryLocation" type="xi4:CountryCode" minOccurs="0"/>
                    <xsd:element name="UpperBoundaryLocation" type="xi4:CountryCode" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConsultantQueryByElementsSimpleByRequestSelectionByName">
                <xsd:sequence>
                    <xsd:element name="InclusionExclusionCode" type="xi4:InclusionExclusionCode" minOccurs="0"/>
                    <xsd:element name="IntervalBoundaryTypeCode" type="xi4:IntervalBoundaryTypeCode"/>
                    <xsd:element name="LowerBoundaryName" type="xi4:MEDIUM_Description" minOccurs="0"/>
                    <xsd:element name="UpperBoundaryName" type="xi4:MEDIUM_Description" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConsultantQueryByElementsSimpleByRequestSelectionByStatus">
                <xsd:sequence>
                    <xsd:element name="InclusionExclusionCode" type="xi4:InclusionExclusionCode" minOccurs="0"/>
                    <xsd:element name="IntervalBoundaryTypeCode" type="xi4:IntervalBoundaryTypeCode"/>
                    <xsd:element name="LowerBoundaryStatus" type="StatusCode" minOccurs="0"/>
                    <xsd:element name="UpperBoundaryStatus" type="StatusCode" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConsultantQueryByElementsSimpleByRequestSelectionByid">
                <xsd:sequence>
                    <xsd:element name="InclusionExclusionCode" type="xi4:InclusionExclusionCode" minOccurs="0"/>
                    <xsd:element name="IntervalBoundaryTypeCode" type="xi4:IntervalBoundaryTypeCode"/>
                    <xsd:element name="LowerBoundaryid" type="xi6:ID" minOccurs="0"/>
                    <xsd:element name="UpperBoundaryid" type="xi6:ID" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConsultantReadByIDQuery">
                <xsd:sequence>
                    <xsd:element name="SAP_UUID" type="xi8:UUID" minOccurs="0"/>
                    <xsd:element name="id" type="xi6:ID" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConsultantReadByIDQueryMessage_sync">
                <xsd:sequence>
                    <xsd:element name="Consultant" type="ConsultantReadByIDQuery"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConsultantReadByIDResponse">
                <xsd:sequence>
                    <xsd:element name="SAP_UUID" type="xi8:UUID" minOccurs="0"/>
                    <xsd:element name="id" type="xi6:ID" minOccurs="0"/>
                    <xsd:element name="Name" type="xi4:MEDIUM_Description" minOccurs="0"/>
                    <xsd:element name="LastName" type="xi4:MEDIUM_Description" minOccurs="0"/>
                    <xsd:element name="Location" type="xi4:CountryCode" minOccurs="0"/>
                    <xsd:element name="LocationName" type="xi4:LANGUAGEINDEPENDENT_LONG_Name" minOccurs="0"/>
                    <xsd:element name="Status" type="StatusCode" minOccurs="0"/>
                    <xsd:element name="StatusName" type="xi4:LANGUAGEINDEPENDENT_LONG_Name" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConsultantReadByIDResponseMessage_sync">
                <xsd:sequence>
                    <xsd:element name="Consultant" type="ConsultantReadByIDResponse" minOccurs="0"/>
                    <xsd:element name="Log" type="xi4:Log"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConsultantUpdateConfirmationMessage_sync">
                <xsd:sequence>
                    <xsd:element name="Log" type="xi4:Log"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConsultantUpdateRequest">
                <xsd:sequence>
                    <xsd:element name="SAP_UUID" type="xi8:UUID" minOccurs="0"/>
                    <xsd:element name="id" type="xi6:ID" minOccurs="0"/>
                    <xsd:element name="Name" type="xi4:MEDIUM_Description" minOccurs="0"/>
                    <xsd:element name="LastName" type="xi4:MEDIUM_Description" minOccurs="0"/>
                    <xsd:element name="Location" type="xi4:CountryCode" minOccurs="0"/>
                    <xsd:element name="Status" type="StatusCode" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConsultantUpdateRequestMessage_sync">
                <xsd:sequence>
                    <xsd:element name="BasicMessageHeader" type="xi4:BusinessDocumentBasicMessageHeader"/>
                    <xsd:element name="Consultant" type="ConsultantUpdateRequest"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="StatusCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="01"/>
                    <xsd:enumeration value="02"/>
                    <xsd:maxLength value="2"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://sap.com/xi/BASIS/Global"
                    xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
                    xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi1="http://sap.com/xi/AP/Common/Global"
                    xmlns:xi2="http://0023931702-one-off.sap.com/Y13IOD93Y_" xmlns:xi3="http://sap.com/xi/BASIS/Global"
                    xmlns:xi4="http://sap.com/xi/AP/Common/GDT" xmlns:xi6="http://sap.com/xi/AP/PDI/ABSL"
                    xmlns:xi8="http://sap.com/xi/Common/DataTypes" xmlns="http://sap.com/xi/BASIS/Global">
            <xsd:simpleType name="AgencyIdentificationCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="1"/>
                    <xsd:enumeration value="5"/>
                    <xsd:enumeration value="6"/>
                    <xsd:enumeration value="16"/>
                    <xsd:enumeration value="17"/>
                    <xsd:enumeration value="84"/>
                    <xsd:enumeration value="107"/>
                    <xsd:enumeration value="109"/>
                    <xsd:enumeration value="112"/>
                    <xsd:enumeration value="113"/>
                    <xsd:enumeration value="114"/>
                    <xsd:enumeration value="116"/>
                    <xsd:enumeration value="117"/>
                    <xsd:enumeration value="124"/>
                    <xsd:enumeration value="130"/>
                    <xsd:enumeration value="131"/>
                    <xsd:enumeration value="138"/>
                    <xsd:enumeration value="142"/>
                    <xsd:enumeration value="146"/>
                    <xsd:enumeration value="262"/>
                    <xsd:enumeration value="296"/>
                    <xsd:enumeration value="310"/>
                    <xsd:maxLength value="3"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LanguageCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:language">
                    <xsd:maxLength value="2"/>
                    <xsd:minLength value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://sap.com/xi/AP/Common/GDT"
                    xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
                    xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi1="http://sap.com/xi/AP/Common/Global"
                    xmlns:xi2="http://0023931702-one-off.sap.com/Y13IOD93Y_" xmlns:xi3="http://sap.com/xi/BASIS/Global"
                    xmlns:xi4="http://sap.com/xi/AP/Common/GDT" xmlns:xi6="http://sap.com/xi/AP/PDI/ABSL"
                    xmlns:xi8="http://sap.com/xi/Common/DataTypes" xmlns="http://sap.com/xi/AP/Common/GDT">
            <xsd:import namespace="http://sap.com/xi/BASIS/Global"/>
            <xsd:complexType name="BusinessDocumentBasicMessageHeader">
                <xsd:sequence>
                    <xsd:element name="ID" type="BusinessDocumentMessageID" minOccurs="0"/>
                    <xsd:element name="UUID" type="UUID" minOccurs="0"/>
                    <xsd:element name="ReferenceID" type="BusinessDocumentMessageID" minOccurs="0"/>
                    <xsd:element name="ReferenceUUID" type="UUID" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BusinessDocumentMessageID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="BusinessDocumentMessageID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencySchemeAgencyID" type="xi3:AgencyIdentificationCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="BusinessDocumentMessageID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="35"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CountryCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="3"/>
                    <xsd:minLength value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Date">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:date">
                    <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="InclusionExclusionCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="1"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Indicator">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:boolean"/>
            </xsd:simpleType>
            <xsd:simpleType name="IntervalBoundaryTypeCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="1"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="80"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LANGUAGEINDEPENDENT_Name">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:complexType name="Log">
                <xsd:sequence>
                    <xsd:element name="BusinessDocumentProcessingResultCode" type="ProcessingResultCode" minOccurs="0"/>
                    <xsd:element name="MaximumLogItemSeverityCode" type="LogItemSeverityCode" minOccurs="0"/>
                    <xsd:element name="Item" type="LogItem" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LogItem">
                <xsd:sequence>
                    <xsd:element name="TypeID" type="LogItemTypeID" minOccurs="0"/>
                    <xsd:element name="CategoryCode" type="LogItemCategoryCode" minOccurs="0"/>
                    <xsd:element name="SeverityCode" type="LogItemSeverityCode" minOccurs="0"/>
                    <xsd:element name="ReferenceObjectNodeSenderTechnicalID" type="ObjectNodePartyTechnicalID"
                                 minOccurs="0"/>
                    <xsd:element name="ReferenceMessageElementName" type="LANGUAGEINDEPENDENT_Name" minOccurs="0"/>
                    <xsd:element name="Note" type="LogItemNote"/>
                    <xsd:element name="NoteTemplateText" type="LogItemNoteTemplateText" minOccurs="0"/>
                    <xsd:element name="LogItemNotePlaceholderSubstitutionList"
                                 type="LogItemNotePlaceholderSubstitutionList" minOccurs="0"/>
                    <xsd:element name="WebURI" type="WebURI" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LogItemCategoryCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="LogItemCategoryCode.Content">
                        <xsd:attribute name="listID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listVersionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="15"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeAgencyID" type="xi3:AgencyIdentificationCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="LogItemCategoryCode.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="15"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LogItemNote">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Note</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="200"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="LogItemNotePlaceholderSubstitutionList">
                <xsd:sequence>
                    <xsd:element name="FirstPlaceholderID" type="LogItemTemplatePlaceholderID"/>
                    <xsd:element name="SecondPlaceholderID" type="LogItemTemplatePlaceholderID" minOccurs="0"/>
                    <xsd:element name="ThirdPlaceholderID" type="LogItemTemplatePlaceholderID" minOccurs="0"/>
                    <xsd:element name="FourthPlaceholderID" type="LogItemTemplatePlaceholderID" minOccurs="0"/>
                    <xsd:element name="FirstPlaceholderSubstitutionText" type="LogItemPlaceholderSubstitutionText"/>
                    <xsd:element name="SecondPlaceholderSubstitutionText" type="LogItemPlaceholderSubstitutionText"
                                 minOccurs="0"/>
                    <xsd:element name="ThirdPlaceholderSubstitutionText" type="LogItemPlaceholderSubstitutionText"
                                 minOccurs="0"/>
                    <xsd:element name="FourthPlaceholderSubstitutionText" type="LogItemPlaceholderSubstitutionText"
                                 minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="LogItemNoteTemplateText">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="73"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LogItemPlaceholderSubstitutionText">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LogItemSeverityCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="1"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LogItemTemplatePlaceholderID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:length value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LogItemTypeID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="40"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="MEDIUM_Description">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Description</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="MEDIUM_Description.Content">
                        <xsd:attribute name="languageCode" type="xi3:LanguageCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="MEDIUM_Description.Content">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="80"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="NumberValue">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Value</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:int">
                    <xsd:maxInclusive value="999999999"/>
                    <xsd:minInclusive value="0"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ObjectID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="ObjectID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeVersionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="15"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencySchemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencySchemeAgencyID" type="xi3:AgencyIdentificationCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="ObjectID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="100"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ObjectNodePartyTechnicalID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="70"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ProcessingResultCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="2"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="QueryProcessingConditions">
                <xsd:sequence>
                    <xsd:element name="QueryHitsMaximumNumberValue" type="NumberValue" minOccurs="0"/>
                    <xsd:element name="QueryHitsUnlimitedIndicator" type="Indicator"/>
                    <xsd:element name="LastReturnedObjectID" type="ObjectID" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ResponseProcessingConditions">
                <xsd:sequence>
                    <xsd:element name="ReturnedQueryHitsNumberValue" type="NumberValue"/>
                    <xsd:element name="MoreHitsAvailableIndicator" type="Indicator"/>
                    <xsd:element name="LastReturnedObjectID" type="ObjectID" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UUID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="UUID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="UUID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="36"/>
                    <xsd:minLength value="36"/>
                    <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="WebURI">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:anyURI"/>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://sap.com/xi/AP/PDI/ABSL"
                    xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
                    xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi1="http://sap.com/xi/AP/Common/Global"
                    xmlns:xi2="http://0023931702-one-off.sap.com/Y13IOD93Y_" xmlns:xi3="http://sap.com/xi/BASIS/Global"
                    xmlns:xi4="http://sap.com/xi/AP/Common/GDT" xmlns:xi6="http://sap.com/xi/AP/PDI/ABSL"
                    xmlns:xi8="http://sap.com/xi/Common/DataTypes" xmlns="http://sap.com/xi/AP/PDI/ABSL">
            <xsd:simpleType name="ID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="60"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://sap.com/xi/Common/DataTypes"
                    xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
                    xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi1="http://sap.com/xi/AP/Common/Global"
                    xmlns:xi2="http://0023931702-one-off.sap.com/Y13IOD93Y_" xmlns:xi3="http://sap.com/xi/BASIS/Global"
                    xmlns:xi4="http://sap.com/xi/AP/Common/GDT" xmlns:xi6="http://sap.com/xi/AP/PDI/ABSL"
                    xmlns:xi8="http://sap.com/xi/Common/DataTypes" xmlns="http://sap.com/xi/Common/DataTypes">
            <xsd:simpleType name="UUID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="36"/>
                    <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ConsultantCreateRequest_sync">
        <wsdl:part name="ConsultantCreateRequest_sync" element="n1:ConsultantCreateRequest_sync"/>
    </wsdl:message>
    <wsdl:message name="ConsultantCreateConfirmation_sync">
        <wsdl:part name="ConsultantCreateConfirmation_sync" element="n1:ConsultantCreateConfirmation_sync"/>
    </wsdl:message>
    <wsdl:message name="StandardFaultMessage">
        <wsdl:part name="StandardFaultMessage" element="n2:StandardFaultMessage"/>
    </wsdl:message>
    <wsdl:message name="ConsultantUpdateRequest_sync">
        <wsdl:part name="ConsultantUpdateRequest_sync" element="n1:ConsultantUpdateRequest_sync"/>
    </wsdl:message>
    <wsdl:message name="ConsultantUpdateConfirmation_sync">
        <wsdl:part name="ConsultantUpdateConfirmation_sync" element="n1:ConsultantUpdateConfirmation_sync"/>
    </wsdl:message>
    <wsdl:message name="ConsultantReadByIDQuery_sync">
        <wsdl:part name="ConsultantReadByIDQuery_sync" element="n1:ConsultantReadByIDQuery_sync"/>
    </wsdl:message>
    <wsdl:message name="ConsultantReadByIDResponse_sync">
        <wsdl:part name="ConsultantReadByIDResponse_sync" element="n1:ConsultantReadByIDResponse_sync"/>
    </wsdl:message>
    <wsdl:message name="ConsultantQueryByElementsSimpleByRequest_sync">
        <wsdl:part name="ConsultantQueryByElementsSimpleByRequest_sync"
                   element="n1:ConsultantQueryByElementsSimpleByRequest_sync"/>
    </wsdl:message>
    <wsdl:message name="ConsultantQueryByElementsSimpleByConfirmation_sync">
        <wsdl:part name="ConsultantQueryByElementsSimpleByConfirmation_sync"
                   element="n1:ConsultantQueryByElementsSimpleByConfirmation_sync"/>
    </wsdl:message>
    <wsdl:portType name="Y13IOD93Y_ManageConsultantIn">
        <wsdl:operation name="Create">
            <wsdl:input message="tns:ConsultantCreateRequest_sync"/>
            <wsdl:output message="tns:ConsultantCreateConfirmation_sync"/>
            <wsdl:fault name="StandardFaultMessage" message="tns:StandardFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="Update">
            <wsdl:input message="tns:ConsultantUpdateRequest_sync"/>
            <wsdl:output message="tns:ConsultantUpdateConfirmation_sync"/>
            <wsdl:fault name="StandardFaultMessage" message="tns:StandardFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="Read">
            <wsdl:input message="tns:ConsultantReadByIDQuery_sync"/>
            <wsdl:output message="tns:ConsultantReadByIDResponse_sync"/>
            <wsdl:fault name="StandardFaultMessage" message="tns:StandardFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="QueryByElements">
            <wsdl:input message="tns:ConsultantQueryByElementsSimpleByRequest_sync"/>
            <wsdl:output message="tns:ConsultantQueryByElementsSimpleByConfirmation_sync"/>
            <wsdl:fault name="StandardFaultMessage" message="tns:StandardFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="binding" type="tns:Y13IOD93Y_ManageConsultantIn">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="Create">
            <soap:operation
                    soapAction="http://0023931702-one-off.sap.com/Y13IOD93Y_/Y13IOD93Y_ManageConsultantIn/CreateRequest"
                    style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="StandardFaultMessage">
                <soap:fault name="StandardFaultMessage" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="Update">
            <soap:operation
                    soapAction="http://0023931702-one-off.sap.com/Y13IOD93Y_/Y13IOD93Y_ManageConsultantIn/UpdateRequest"
                    style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="StandardFaultMessage">
                <soap:fault name="StandardFaultMessage" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="Read">
            <soap:operation
                    soapAction="http://0023931702-one-off.sap.com/Y13IOD93Y_/Y13IOD93Y_ManageConsultantIn/ReadRequest"
                    style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="StandardFaultMessage">
                <soap:fault name="StandardFaultMessage" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QueryByElements">
            <soap:operation
                    soapAction="http://0023931702-one-off.sap.com/Y13IOD93Y_/Y13IOD93Y_ManageConsultantIn/QueryByElementsRequest"
                    style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="StandardFaultMessage">
                <soap:fault name="StandardFaultMessage" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="binding_SOAP12" type="tns:Y13IOD93Y_ManageConsultantIn">
        <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="Create">
            <wsoap12:operation
                    soapAction="http://0023931702-one-off.sap.com/Y13IOD93Y_/Y13IOD93Y_ManageConsultantIn/CreateRequest"
                    style="document"/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="StandardFaultMessage">
                <wsoap12:fault name="StandardFaultMessage" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="Update">
            <wsoap12:operation
                    soapAction="http://0023931702-one-off.sap.com/Y13IOD93Y_/Y13IOD93Y_ManageConsultantIn/UpdateRequest"
                    style="document"/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="StandardFaultMessage">
                <wsoap12:fault name="StandardFaultMessage" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="Read">
            <wsoap12:operation
                    soapAction="http://0023931702-one-off.sap.com/Y13IOD93Y_/Y13IOD93Y_ManageConsultantIn/ReadRequest"
                    style="document"/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="StandardFaultMessage">
                <wsoap12:fault name="StandardFaultMessage" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="QueryByElements">
            <wsoap12:operation
                    soapAction="http://0023931702-one-off.sap.com/Y13IOD93Y_/Y13IOD93Y_ManageConsultantIn/QueryByElementsRequest"
                    style="document"/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="StandardFaultMessage">
                <wsoap12:fault name="StandardFaultMessage" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="service">
        <wsdl:port name="binding" binding="tns:binding">
            <soap:address
                    location="https://my345987.sapbydesign.com/sap/bc/srt/scs/sap/yy13iod93y_manageconsultantin?sap-vhost=my345987.sapbydesign.com"/>
        </wsdl:port>
        <wsdl:port name="binding_SOAP12" binding="tns:binding_SOAP12">
            <wsoap12:address
                    location="https://my345987.sapbydesign.com/sap/bc/srt/scs/sap/yy13iod93y_manageconsultantin?sap-vhost=my345987.sapbydesign.com"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>